#title {
    display: flex;
    background-color: #31363F;
    margin: 0 0 2rem 0;
}

h1 {
    background-color: #31363F;
    padding-left: 6vw;
}

h2 {
    color: #a26413;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#columns {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width:100%;
    max-width: 1300px;
}

.worldmap {
    flex: 0 0 100%;
    align-items: start;
}

.information {
    flex: 1 1 auto;
    margin: 2rem 4rem;
    padding: 2rem 4rem ;
    height: min-content;
}